.btn {
  border-radius: 12px;
  padding: 12px 51px;
  /* width: 156px; */
  height: 44px;
  background: var(--button);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
}

.btn:hover {
  background: var(--button-hover);
}
