.iconWrapper {
  position: absolute;
  z-index: 999;
  top: 16px;
  right: 16px;
}

.iconHeart {
  fill: var(--badges);
  transition: fill 0.3s ease;
}

.iconHeart:hover {
  fill: #3470ff;
}

.active {
  fill: #3470ff;
}
