.header {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  padding-bottom: 8px;
}
.text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
  padding-bottom: 16px;
}

.wrapper {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 32px;
  width: 640px;
  height: auto;
  min-height: 488px;
  background: var(--white);
  display: flex;
  flex-direction: column;
}

.formik {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.formik > *:last-child {
  margin-bottom: 0;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.field {
  border-radius: 12px;
  padding: 12px 20px;
  width: 576px;
  height: 48px;
  background: var(--inputs);
  outline: none;
  border: none;
}

.textarea {
  border-radius: 12px;
  padding: 12px 20px 56px 20px;
  width: 576px;
  height: 88px;
  resize: none;
}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
}

.datePickerPopper {
  z-index: 9999;
  position: absolute;
}

.date_picker_wrapper {
  position: relative;
}

:global(.react-datepicker) {
  fill: var(--white);
  border: 1px solid var(--button);
}

:global(.react-datepicker__header) {
  border-bottom: 1px solid var(--button);
  background-color: var(--white);
}

:global(.react-datepicker__navigation) {
  color: var(--button);
}

:global(.react-datepicker__day--in-range) {
  background-color: var(--button);
  border-radius: 32px;
}

:global(.react-datepicker__day--selected) {
  border-radius: 32px;
}
:global(
    .react-datepicker__day:hover,
    .react-datepicker__day:active,
    .react-datepicker__day:focus
  ) {
  background-color: var(--button);
  border-radius: 32px;
}

:global(.react-datepicker__day-name) {
  font-family: var(--second-family);
  color: var(--gray);
  text-transform: uppercase;
  font-weight: 600;
}

:global(.react-datepicker__current-month) {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--main);
}

:global(.react-datepicker__day--range-start) {
  background-color: var(--button);
  border-radius: 32px;
}

:global(.react-datepicker__day--range-end) {
  background-color: var(--button);
  border-radius: 32px;
}

:global(.react-datepicker__day--keyboard-selected) {
  background-color: var(--button);
  border-radius: 32px;
  color: var(--inputs);
}
