@import './fonts.css';

:root {
  --font-family: 'Manrope', sans-serif;
  --second-family: 'Inter', sans-serif;

  text-align: center;
  --main: #101828;
  --gray: #8e929a;
  --button: #3470ff;
  --button-hover: #0b44cd;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #ffffff;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  outline: none;
}

a {
  color: currentColor;
  text-decoration: none;
}
li {
  list-style: none;
}
